#calculator{
    height: 500px;
    width: 270px;
    background-color: rgb(32, 29, 29);
    border-radius: 10px;
    padding: 12px;
}
section{
    height: 14.5%;
    width: 92.59%;
    margin: auto;
    background-color: antiquewhite;
    overflow: auto;
    padding: 4px;
    border-radius: 6px 6px 0 0;
}
button{
   width: 49.2px;
   height: 47px;
   border-radius: 10px;
   padding: 2px;
    font-weight: bolder;
   font-size: larger;
   
}
button:hover{
   background-color: bisque;
   margin-top: 3px blue;
}
#ac{
 background-color: green;
}
#del{
 background-color: red;
}
#btns{
   width: 58%;
   padding: 10px 1px 0px 6px ;
   display: flex;
   flex-wrap: wrap-reverse;
   padding-top: 5px;
}
#calcu{
   width: 42%;
   float: right;
   padding: 10px 1px 0px 6px ;
   display: flex;
   flex-wrap: wrap;
}
#calculations{
   display: flex;
   margin: auto;
   font-weight: 600px;
   padding-top: 15px;
}
span{
   font-weight: bolder;
   color: blueviolet;
}
#results{
   float: left;
   font-size: x-large;
   cursor: pointer;
   color: brown;
}
#operational,#roots,#num{
   float: right;
}
#years{
   padding: 3px;
   color: blueviolet;
   padding-left: 35px;
}
#ans{
 width: 98px;
 background-color: rgb(57, 57, 192);
}
#myName{
   color: blueviolet;
   background-color: rgb(26, 25, 25);
   pointer-events: none;
}
@media screen and (max-width : 400px) {
   #calculator{
       width: 100%;
       height: 100%;
   }
   #years{
     padding-left: 40px;
   }
   button{
    width: 63.8px;
    height: 51px;
   }
   #ans{
       width: 127.4px;
   }
}